.form
    &-text 
        &-block 
        &-title 
            font-weight: bold
            font-size: 26px
        &-subtitle 
            font-weight: 100
            font-size: 14px
    &-wrapper 
        border: 1px solid #EBEBEB
        border-radius: 8px
        padding: 20px 10px 30px
        overflow: hidden 
        position: relative
    &-background-img
        margin-top: -20px
        margin-left: -10px
        opacity: 22%
        filter: blur(7px)
        left: 50%
        transform: translateX(-50%)
        // потом докрутить до 55%
        height: 100%
        z-index: -1
input 
    background-color: #D9D9D9
    padding: 8px 15px
    border: 0
    border-radius: 5px
    width: 100%
    outline: 0 !important
    &:not(:first-child)
        margin-top: 18px


@media (min-width: 992px )
    .form
        &-wrapper 
            display: flex
            padding: 45px 50px
            &_sm 
                padding: 17px 34px
        &-text 
            &-block       
                max-width: 50%
                padding-right: 15px
            &-title  
                font-size: 28px
                &_big
                    font-size: 36px
            &-subtitle
                margin-top: 20px
                font-size: 18px
                &_big
                    margin-top: 30px
                    font-size: 24px
        &-btn 
            &_sm 
                padding: 17px 50px
                font-size: 18px
    input 
        padding: 14px 20px